/target
config.toml
docker/config.toml
docker/gateway.toml
docker/oracle.toml
agent.config.json
*.key
*.env
.env
docs/book
contracts/script/TestCollect.s.sol

# Build artifacts & dependencies
node_modules/
dist/
package-lock.json
subgraph/build/

# Foundry broadcast artifacts
contracts/broadcast/
